

<% if user_signed_in? %>

<div class="container">
<h1 class="text-center">Hello World</h1>
<h1 class="text-center">Vous etes connecté !</h1>
<%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-default btn-lg btn-block" %>
<%= link_to "Edit Profil", edit_user_registration_path, class: "btn btn-primary btn-lg btn-block" %>


<%else%>

<div class="container">
	<h1 class="text-center">Hello World</h1>
	<%= link_to "Sign-up", new_user_registration_path, class: "btn btn-primary btn-lg btn-block" %>
	<%= link_to "Sign-in", new_user_session_path, class: "btn btn-default btn-lg btn-block" %>
</div>

<%end%>